MSSQL_DATABASE=softplus_ukraine_ta_db
MSSQL_USER=softplus_ukraine_ta_owner
MSSQL_USER_PASSWORD=STRong_password123

MSSQL_SA_PASSWORD=YourStrong!Passw0rd
JWT_KEY=SuperSecretLongKeyThatIsAtLeast32BytesLong!
